.clear{
	clear:both;
}

.bmag_header{
	height: 70px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    background-image: -ms-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -moz-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -o-linear-gradient(top,#f9f9f9,#ececec);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#f9f9f9),to(#ececec));
    background-image: -webkit-linear-gradient(top,#f9f9f9,#ececec);
    background-image: linear-gradient(top,#f9f9f9,#ececec);
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}
.bmag_logo{
	float: left;
	margin: 10px 20px;
}
.bmag_logo>span{
	color: #888888;
}
.bmag_logo>h2{
	display: inline-block;
    font-style: normal;
    line-height: inherit;
    padding: 0 5px 0 0;
    font-size: 23px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 15px;
}
.bmag_docs{
	float: left;
    margin: 28px 27px;
    font-size: 14px;
}
.bmag_sep{
	padding: 0 10px;
}
.bmag_info_bar{
	background: #f3f3f3;
    border: solid #d8d8d8;
    border-bottom: 1px solid #D8D8D8;
    border-width: 0px 1px 1px 1px;
    padding: 6px 20px 0px 6px;
    height: 31px;

    text-align: right;
    -moz-box-shadow: inset 0 1px 0 #fcfcfc;
    -webkit-box-shadow: inset 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px 0 #fcfcfc;
}
#bmag_save_infobar,
#bmag_save_savebar{
	font-family: Arial,Verdana,sans-serif;
    padding: 0 7px;
    height: 23px;
    line-height: 23px;
    border: 1px solid #0a6d9b !important;
    float: right;
}
#bmag_save_tab_infobar{
	font-family: Arial,Verdana,sans-serif;
    padding: 0 7px;
    height: 23px;
    line-height: 23px;
	color: #24B300;
	border: 1px solid #24B300 !important;
	float: left;
}
#bmag_reset_savebar,
#bmag_reset_infobar,
#bmag_reset_tab_infobar{
	font-family: Arial,Verdana,sans-serif;
    padding: 0 7px;
    height: 23px;
    line-height: 23px;
	color: #ff4444;
	border: 1px solid #ff4444 !important;
	float: left;
}
#bmag_save_tab_infobar,
#bmag_reset_infobar,
#bmag_reset_tab_infobar{
	margin-left: 5px;
	float: right;
}
.bmag_body{
	background-color: #f1f1f1;
    border-left: 1px solid #d8d8d8;
    border-right: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
}
.bmag_nav_tabs{
	float: left;
    position: relative;
    z-index: 1;
    width: 20%;
}
.bmag_nav_tab{
	margin-bottom: 0;
    -moz-box-shadow: inset 0 1px 0 #f9f9f9;
    -webkit-box-shadow: inset 0 1px 0 #f9f9f9;
    box-shadow: inset 0 1px 0 #f9f9f9;
    margin-right: 1px;
    padding: 10px;
    border-bottom: 1px solid #d8d8d8;
}
.bmag_nav_tab_title{
	margin: 0;
	word-wrap: break-word;
	display: inline-block;
}
.bmag_nav_tab_current{
	margin-right: 0;
	background-color: #FCFCFC;
}
.bmag_nav_tab span,
.bmag_nav_tab h3{
	color: #797979;
}
.bmag_nav_tab_current span,
.bmag_nav_tab_current h3{
	color: #000000;
}
.bmag_tab_icon{
	font-size: 1.3em;
}
.bmag_nav_tab:hover{
	cursor: pointer;
	background-color: #ededed;
}
.bmag_nav_tab_current:hover{
	cursor: pointer;
	background-color: #FCFCFC;
}



.bmag_form_container{
	float: left;
    min-height: 500px;
    width: 78%;
    margin-left: -1px;
    padding: 0 1%;
    font-family: "Lucida Grande", Sans-serif;
    background-color: #FCFCFC;
    border-left: 1px solid #d8d8d8;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;

    -webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.bmag_settings_tab{
	display: none;
}
.bmag_active{
	display: block;
}
.bmag_settings_section{
	margin-bottom: 10px;
		overflow: hidden;
		margin: 20px 0 0;
    float: none;
    width: auto;
}
.bmag_settings_field{
	margin-bottom: 10px;
}
.bmag_settings_fields{
	display: none;
}
.bmag_settings_tab .bmag_settings_section:nth-child(1) .bmag_settings_fields{
	display: block;
}
.bmag_settings_tab .bmag_settings_section:nth-child(1) .bmag_section_caret{
	transform: rotate(90deg);
}
.bmag_settings_field .description{
    padding: 0 10px 0 0;
    font-size: 13px;
    line-height: 13px;
    vertical-align: middle;
    color: #999999;
}
.bmag_param{
	display: inline-block;
}
.bmag_settings_section .bmag_section_title{
	padding: 15px 10px;
    line-height: 1.2em;
    background-color: #f1f1f1;
    border: 1px solid #D0D0D0;
    color: #797979;
    overflow: hidden;
}
.bmag_section_caret{
	float: right;
    margin-right: 10px;
    line-height: 1.2em !important;
}
.bmag_section_title:hover{
	cursor: pointer;
}
.bmag_field_title{
	margin: 10px 0 10px 0;
    padding: 7px 0px;
    border-bottom: 1px solid #e7e7e7;
    font-size: 14px;
    color: black;
}

.bmag_save_bar{
	background: #f3f3f3;
    border: solid #ccc;
    border-width: 1px 0px 0px 0px;
    padding: 10px 20px 0px 20px;
    height: 35px;
    text-align: right;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -moz-box-shadow: inset 0 1px 0 #fff;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}


@media screen and (min-width: 0px) and (max-width: 610px){
	.bmag_header{
		height: auto;
	}
	.bmag_logo{
		float: none;
		margin: 2px 4px;
	}

	.bmag_docs{
		float: none;
	    margin: 5px 5px;
	    font-size: 14px;
	}
	.bmag_info_bar{
		height: auto;
	}
	.bmag_nav_tab_title{
		display: none;
	}
	.bmag_nav_tab_wrap{
		text-align: center;
	}
}



/*===============================================
============Multiple Select Interface Styles=====
================================================*/
/*multiple select custom styles*/
@import url(https://fonts.googleapis.com/css?family=KronaOne);

.bmag_cst_opt{
  margin: 0;
  padding: 2px;
}
.bmag_highlight{
  background-color: #44A0FB;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #44A0FB), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(#44A0FB 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(#44A0FB 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(#44A0FB 20%, #2a62bc 90%);
  background-image: linear-gradient(#44A0FB 20%, #2a62bc 90%);
  color: #fff;
  cursor: pointer;
}

.bmag_option_selected{
  display: list-item;
  color: #ccc;
  cursor: default;
}
.bmag_search_choice{
    position: relative;
    margin: 4px 6px 4px 6px;
    padding: 4px 6px 4px 6px;
    border: 1px solid #aaa;
    display: inline-block;
    max-width: 100%;
    border-radius: 5px;
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
    background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
    background-size: 100% 19px;
    background-repeat: repeat-x;
    background-clip: padding-box;
    box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    color: #333;
    line-height: 17px;
    cursor: default;
}
.bmag_multi_choices{
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 0;
  width: 100%;
  height: auto !important;
  height: 1%;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}
.bmag_multi_choices li:last-child{
  margin-bottom: 0;
}
.bmag_search_field input{
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  display: inline-block;
  font-size: 100%;
  max-width: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}
.bmag_multi_drop_hide{
  display: none;
}
.bmag_search_field input:focus{
  border:none;
  box-shadow: none;
}
.bmag_close_opt{
  color: #444;
  text-decoration: none;
  font-family: 'Krona One', sans-serif;
}
.bmag_close_opt:hover{
  color: #555;
  cursor: pointer;
}
.bmag_multi_focused{
  border-color: #5b9dd9;
  -webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
  box-shadow: 0 0 2px rgba(30,140,190,.8);
}



.bmag_multi_select_container{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  zoom: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.bmag_multi_drop{
  max-height: 200px;
  overflow: auto;
  background-color: white;
  padding:0 0;
  border: 1px solid #aaa;
  margin-top: 0;
  border-top: none;
 }